$black: #282c34;
$black_light: #353b45;
$gray_dark: #3e4451;
$gray: #abb2bf;
$gray_light: #c8ccd4;
$white: #eeeeee;
$silver: #c8ccd4;
$silver_light: #d9dde5;
$white_pure: #ffffff;

$red: #e06c75;
$orange: #d19a66;
$green: #98c379;
$green_dark: #0b6623;
$yellow: #e5c07b;
$blue: #61afef;
$blue_dark: #0f52ba;
$blue_light: #bcdaf7;
$magenta: #c678dd;
$cyan: #56b6c2;
